@import url("https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rubik+Spray+Paint&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: rgb(11, 16, 22);
  color: white;
  font-family: "Roboto", sans-serif;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.game-table,
.game-cell {
  border: 10px solid black;
  border-collapse: collapse;
  border-color: aliceblue;
  background-color: rgb(16, 15, 20);
}


.game-cell {
  width: 10rem;
  height: 10rem;
  min-width: 10rem;
  min-height: 10rem;
  text-align: center;
  font-size: 80px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Rubik Spray Paint", system-ui;
}

.game-cell:hover {
  background-color: rgb(47, 44, 58);
}

.winning-cell {
  background-color: rgb(11, 189, 85);
}

.winning-cell:hover {
   background-color: rgb(11, 189, 85); 
}

.gameover-message {
  font-size: xx-large;
}

.gameover-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}

.restart-button {
  padding: 0.75rem;
  margin: 1rem;
  cursor: pointer;
  border-style: hidden;
  background-color: white;
  border-radius: 5%;
  font-weight: bold;
}

.restart-button:hover {
  background-color: beige;
}
